@import url(reset.css);

* {
  border-radius: 10px;
}

h1,
h2 {
  font-weight: 100;
  font-size: 4rem;
}

body {
  color: #fff;
  text-transform: uppercase;
  background-color: #b1b5be;
  text-align: center;
  font-size: 1.4rem;
}

header {
  background-color: #9f2063;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 2rem;
  margin: 0 auto;
  height: 100vh;
}

.article-container {
  background-color: #21b879;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  justify-content: space-evenly;
  gap: 2rem;
  flex: 1 1 auto;
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  height: 100%;
}

article {
  background-color: #e4195b;
  flex-basis: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

article p {
  font-size: 2.6rem;
}

aside {
  background-color: #116395;
  padding: 0.3rem;
}

footer {
  background-color: #e06b26;
}

/* grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */

@media screen and (min-width: 768px) {
  .middle-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1 1 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    padding: 2rem;
    margin: 0 auto;
    min-height: 100vh;
  }

  aside {
    order: -1;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1,
  h2 {
    font-weight: 400;
  }

  .article-container {
    flex: 3 1 auto;
  }

  header,
  footer {
    padding: 1.5rem 1rem;
  }
}
